.BriefInformation {
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__items {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    .static-item {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 35px;
      padding-right: 35px;
      background-color: #f6f5fa;
      width: fit-content;
      border: 1px solid #ede8f0;
      border-radius: 5px;
      display: flex;
      column-gap: 30px;
      align-items: center;

      @media (max-width: 602px) {
        width: 100%;
      }

      .item-info {
        .item-value {
          display: block;
          font-size: 4em;
          line-height: 150%;
          color: #1b253d;
        }

        .item-title {
          text-transform: uppercase;
        }
      }
    }
  }
}
