@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

// TOAST
:root {
  --toast-width: 270px;
  --toast-border-radius: 0.25rem;
  --toast-theme-default: #fff;
  --toast-theme-primary: #0d6efd;
  --toast-theme-secondary: #6c757d;
  --toast-theme-success: #198754;
  --toast-theme-danger: #dc3545;
  --toast-theme-warning: #ffc107;
  --toast-theme-info: #0dcaf0;
  --toast-theme-light: #f8f9fa;
  --toast-theme-dark: #212529;
}

.toast-container {
  position: fixed;
  top: 15px;
  right: 15px;
  width: var(--toast-width);
  z-index: 2;
}

.toast {
  font-size: 0.875rem;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: var(--toast-border-radius);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: none;
  position: relative;
  overflow: hidden;
}

.toast_default {
  color: #212529;
  background-color: var(--toast-theme-default);
}

.toast_primary {
  color: #fff;
  background-color: var(--toast-theme-primary);
}

.toast_secondary {
  color: #fff;
  background-color: var(--toast-theme-secondary);
}

.toast_success {
  color: #fff;
  background-color: var(--toast-theme-success);
}

.toast_danger {
  color: #fff;
  background-color: var(--toast-theme-danger);
}

.toast_warning {
  color: #212529;
  background-color: var(--toast-theme-warning);
}

.toast_info {
  color: #212529;
  background-color: var(--toast-theme-info);
}

.toast_light {
  color: #212529;
  background-color: var(--toast-theme-light);
}

.toast_dark {
  color: #fff;
  background-color: var(--toast-theme-dark);
}

.toast_primary .toast__close,
.toast_secondary .toast__close,
.toast_success .toast__close,
.toast_danger .toast__close,
.toast_dark .toast__close {
  filter: invert(1);
}

.toast:not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast_show {
  display: block;
}

.toast__header {
  position: relative;
  padding: 0.5rem 2.25rem 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.toast__close {
  content: "";
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 0.875em;
  height: 0.875em;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/0.875em auto no-repeat;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.toast__close:hover {
  opacity: 1;
}

.toast__body {
  padding: 1rem;
}

.toast_message .toast__body {
  padding-right: 2.25rem;
}
/* text field */
.text-field {
  margin-bottom: 1rem;
}

.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}

.text-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-field__input[type="search"]::-webkit-search-decoration,
.text-field__input[type="search"]::-webkit-search-cancel-button,
.text-field__input[type="search"]::-webkit-search-results-button,
.text-field__input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

/* with floating label */
.text-field_floating-3 {
  position: relative;
}

.text-field_floating-3 .text-field__input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: calc(3.5rem + 2px);
  line-height: 1.25;
  padding: 1rem 0.75rem;
  background-color: #f5f5f5;
}

.text-field_floating-3 .text-field__input:focus {
  outline: 0;
  border-bottom: 1px solid #03a9f4;
  box-shadow: none;
  background-color: #eee;
}

.text-field_floating-3 .text-field__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.text-field_floating-3 .text-field__input::-moz-placeholder {
  color: transparent;
}

.text-field_floating-3 .text-field__input::placeholder {
  color: transparent;
}

.text-field_floating-3 .text-field__input:focus,
.text-field_floating-3 .text-field__input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #03a9f4;
}

.text-field_floating-3 .text-field__input:focus ~ .text-field__label,
.text-field_floating-3
  .text-field__input:not(:placeholder-shown)
  ~ .text-field__label {
  transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
  color: #03a9f4;
}

// BUTTON
.beautiful-button {
  border: 0;
  outline: none;
  width: 100%;
  font-weight: 700;
  color: white;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;

  transition: 0.2s;
}

.beautiful-button-green {
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;

  &:hover {
    background: rgb(53, 167, 110);
  }

  &:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
  }
}

.beautiful-button-red {
  background: rgb(199, 64, 64);
  box-shadow: 0 -3px rgb(167, 53, 53) inset;

  &:hover {
    background: rgb(167, 53, 53);
  }

  &:active {
    background: rgb(147, 33, 33);
    box-shadow: 0 3px rgb(147, 33, 33) inset;
  }
}

.beautiful-button-blue {
  background: rgb(64, 100, 199);
  box-shadow: 0 -3px rgb(53, 100, 167) inset;

  &:hover {
    background: rgb(53, 100, 167);
  }

  &:active {
    background: rgb(33, 100, 147);
    box-shadow: 0 3px rgb(33, 100, 147) inset;
  }
}

.table-button {
  border: 0;
  outline: none;
  padding: 0.4em 1em calc(0.4em + 3px);
  border-radius: 3px;

  transition: 0.2s;
}

.remove-object-buttons {
  display: flex;
  column-gap: 1%;

  &__no {
    width: 90%;
    border: 0;
    outline: none;
    padding: 0.4em 1em calc(0.4em + 3px);
    border-radius: 3px;

    transition: 0.2s;
  }

  &__yes {
    width: 9%;
    border: 0;
    outline: none;
    padding: 0.4em 1em calc(0.4em + 3px);
    border-radius: 3px;

    transition: 0.2s;
  }
}
